
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 1200px;
    height: 100vh;
    font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-top {
    width: 1200px;
    height: 400px;
}

.container-left {
    background-color: hsl(179, 62%, 43%);
    width: 550px;
    height: 300px;
}

.container-right {
    background-color: hsl(179, 62%, 43%);
    width: 550px;
    height: 300px;
    justify-items: right;
    
}
