* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #003049;
    font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	display: flex;
}
#header2 {
	
	color: #be6518;
	cursor: default;
	height: 3.25em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	
	font-size: 2.55em;
	border-bottom: #be6518  15px solid;
}
#header2 > .logo {
	display: inline-block;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	
}

#header2 > .logo a {
		font-size: 1.25em;
		color: #be6518;
		text-decoration: none;
		font-weight: 700;
	}
#header2 nav {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		align-items: center;
	}

#header2 nav ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		
	  }
#header2 nav ul li {
		text-transform: uppercase;
		font-weight: 700;
		font-size: .875em;
		padding: 0 10px;
		margin: 10px;
		display: flex;
		
		width: 100%;
	}
#header2 nav ul li a {
		margin-left: 10px;
		
		color: #be6518;
		text-decoration: none;
	  }

.container {
	max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game {
	width: 640px;
	height: 640px;
	display: flex;
	flex-wrap: wrap;
	margin-top:150px;

	perspective: 1000px;
	border: grey 5px solid;
	
}
/** card styles **/

.card {
	width: calc(25% - 10px);
	height: calc(33.33% - 10px);
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	margin: 5px;
    
}
.card:active {
	transform: scale(.97);
	transition: transform .2s;
}
.card.flip {
	transform: rotateY(180deg);
}
.front-face, .back-face {

	position: absolute;
	padding: 20px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #be6518;
}
.front-face {
	transform: rotateY(180deg);
}

/** Score Panel **/
.score-panel {
	width: 640px;
	height: 640px;
	margin: auto;
	color: #be6518;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.score-panel h1 {
	font-size: 45px;
	margin-top: 200px;
	text-decoration: underline;
}
/* timer */
.container_timer {
    position: relative;
    top: 30px;
    width: 30px;
	margin: 0 auto;
	padding-right: 250px;
}

.controlls {
    position: absolute;
    left: 45px;
    top: 45px;
    text-align: center;
}
.display-remain-time {
    
    font-weight: 100;
    font-size: 25px;
    color: #be6518;
}
#pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}
.play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #be6518;
}
.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #be6518;
    border-top: none;
    border-bottom: none;
}
#pause:hover {
    opacity: 0.8;
}
.e-c-base {
    fill: none;
    stroke: red;
    stroke-width: 4px
}
.e-c-progress {
    fill: none;
    stroke: rgb(65, 184, 131);
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #be6518;
    stroke: #be6518;
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}



/****** Media queries
***************************/


@media screen and (max-width: 768px) {
	body {
		width: 750px;
	}
	#header2 {
		width: 650px;
	}
	.logo {
		font-size: 35px;
	}
	#header2 nav {
		font-size: 10px;
	}
	.container{
		padding: 0;
		margin: -115px -10px;
		width: 650px;
	}

	.score-panel {
		
		width: 300px;
	}
	.score-panel h1 {
		font-size: 30px;
	}
	.container_timer {
		margin-left: 60px;
	}
	.game {
		width: 390px;
		height: 300px;
	}
}